$theme-colors: (
    "primary": blanchedalmond, 
    "secondary": #78a0a0, 
);
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
    background-color: #009999;
}
.title{
    font-family: 'Rubik Puddles',cursive;
    font-size: 150px;
    color: blanchedalmond;
    font-weight: bolder;
}

.nav-bar{
    background: rgb(9, 67, 61);
    color: bisque;
    font-family: 'Gloria Hallelujah', cursive;
}

.nav-link{
    color:#ffebcd;
}

.modal-home{
    color: bisque;
    background: rgb(9, 67, 61);
    font-family: 'Gloria Hallelujah', cursive;
    font-size: x-large;
}

.modal-home-button{
    background: #ffebcd;
    color: teal;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 900;
    font-size: xx-large;
}
.modal-delete {
    color: bisque;
    background: rgb(9, 67, 61);
    font-family: 'Gloria Hallelujah',
    cursive;
    font-size: x-large;
    text-align: center;
}
.modal-home-header{
    align-items: center;
}

.btn:hover {
    color: blanchedalmond;
    background-color: rgb(9, 67, 61);

}

.sign-up-form-header{
    color:#ffebcd;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 30px;
    padding-bottom: 30px;
}

.sign-up-header {
    color: #ffebcd;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    text-align: center;
}

.sign-in-title{
    color: #ffebcd;
    font-family: 'Gloria Hallelujah',
    cursive;
    font-size: 40px;
    text-align: center;
}

.sign-in-form{
    color:#ffebcd;
    font-family: 'Gloria Hallelujah',
    cursive;
    font-size: 30px;
}

.slug {
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
}

.slug-index {
    max-width: 25%;
    max-height: 25%;
    object-fit: cover;
}

nav{
    color:#ffebcd;
    font-family: 'Gloria Hallelujah',
    cursive;
    font-size: 20px;
}

p {
    color:#ffebcd;
    font-family: 'Gloria Hallelujah',
    cursive;
    font-size: 20px;
}

h1 {
    font-family: 'Gloria Hallelujah',cursive;
    color:#ffebcd;
}

h2 {
    font-family: 'Gloria Hallelujah',
}

div {
    font-family: 'Gloria Hallelujah',
    cursive;
    color:#ffebcd;
}

.index{
    background-color: teal;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.show {
    background-color: teal;
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.edit{
    max-width: 60%;
    max-height: 60%;
    background-color: teal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.slug-sign-up{
    max-width: 75%;
    max-height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slug-log {
    max-width: 40%;
    max-height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome{
    color: orangered;
}

.index-all {
    max-width: 60%;
    max-height: 60%;
    background-color: teal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}